/*Header*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.header__layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 0;
}
.header__layout-logo {
    width: 45px;
    height: 45px;
    margin-left: 12px;
}
.header__layout-logo-image {
    width: 100%;
    height: auto;
}
.header__layout-navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
.header__layout-navigation-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #394b50;
    font-family: "Lato";
    font-size: 15px;
    padding: 6px 12px;
}
.header__layout-navigation-item-link:hover {
    background: #ffbb42;;
    border-radius: 2px;
    color: #fafafa;
}
.first-screen__layout-description {
    display: flex;
    flex-direction: column;
}
.first-screen__layout-description-title {
    margin: 0 auto;
}
/*First-screen*/
.first-screen {
    padding-bottom: 140px;
}
.first-screen__layout {
    background: #709dca;
    padding-top: 80px;
    position: relative;
}
.first-screen__layout-description-title {
    font-size: 35px;
    font-family: "Lato";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}
.first-screen__layout-description-title-text {
    font-size: 15px;
    font-family: "Lato";
    color: #ffffff;
    margin: 0 auto;
}
.first-screen__layout-feedback {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.first-screen__layout-feedback-item {
    position: relative;
    width: 100%;
}
.first-screen__layout-feedback-button {
    width: 85%;
    height: auto;
    background: #ffbb42;
    color: #fafafa;
    border-style: none;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
    text-transform: uppercase;
}
.first-screen__layout-feedback-button:hover {
    background: #ffa70f;
    cursor: pointer;
}
.first-screen__layout-feedback-button:active {
    transform: scale(0.99,0.99);
}
.first-screen__layout-feedback-item-icon {
    position: absolute;
    top: 9px;
    left: 10px;
    color: #394b50;
}
.first-screen__layout-feedback-item-icon i{
    font-size: 18px;
}
.first-screen__layout-feedback-item input{
    width: 85%;
    padding-left: 35px;
    height: 35px;
    font-size: 15px;
    border-style: none;
    outline: none;
    border-radius: 2px;
}
.first-screen__layout-laptop {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
}
/*second-screen*/
.second-screen {
    padding-bottom: 60px;
    font-family: "Lato";
}
.second-screen__layout {
    display: flex;
    flex-direction: column;
}
.second-screen__layout-description {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}
.second-screen__layout-description-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    color: #394b50;
}
.second-screen__layout-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second-screen__layout-services-block {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 40px 10px;
}
.second-screen__layout-services-block-icon {
    width: 50%;
    padding-left: 5px;
}
.second-screen__layout-services-block-icon i {
    font-size: 50px;
    color: #709dca;
}
.second-screen__layout-services-block-icon i:hover {
    color: #ffa70f;
}
.second-screen__layout-services-block-icon i:active {
    transform: scale(0.96, 0.96);
}
.second-screen__layout-services-block-description-title {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #394b50;
}
.second-screen__layout-services-block-description-text {
    font-size: 13px;
    color: #394b50;
}
/*thirdth-screen*/
.thirdth-screen {
    font-family: "Lato";
    margin: -20px;
}
.thirdth-screen__layout {
    display: flex;
    justify-content: space-between;
}
.thirdth-screen__layout-blockPhoto {
    width: 50%;
}
.thirdth-screen__layout-blockPhoto-image {
    width: 100%;
    height: 100%;
}
.thirdth-screen__layout-blockDescription {
    width: 50%;
    height: auto;
    background: #ffbb42;
    color: #fafafa;
    display: flex;
    flex-direction: column;
}
.thirdth-screen__layout-blockDescription-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 70px 0 30px 70px;
}
.thirdth-screen__layout-blockDescription-text {
    font-size: 15px;
    padding: 0 50px 20px 70px;
    line-height: 1.5;
}
.thirdth-screen__layout-blockDescription-button {
    margin: 0 auto 0 70px;
    text-transform: uppercase;
    color: #fafafa;
    outline: none;
    background: transparent;
    border: 1px solid #fa9a00;
    padding: 12px 24px;

}
.thirdth-screen__layout-blockDescription-button:hover{
    background: #fa9a00;
    cursor: pointer;
}
.thirdth-screen__layout-blockDescription-button:active {
    transform: scale(0.97, 0.97);
}
/*fourth-screen*/
.fourth-screen {
    font-family: "Lato";
    padding-bottom: 80px;
}
.fourth-screen__layout {
    background: #e7edf3;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
}
.fourth-screen__layout-description {
    text-align: center;
    padding-bottom: 30px;
}
.fourth-screen__layout-description-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #394b50;
}
.fourth-screen__layout-description-text {
    color: #394b50;
}
.fourth-screen__layout-container {
    display: flex;
    justify-content: center;
}
.fourth-screen__layout-container-block {
    border: 1px solid #bad0e6;
    border-radius: 3px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #709dca;
    color: #fafafa;
    text-transform: uppercase;
    padding: 20px 30px;
}
.fourth-screen__layout-container-block-title {
    font-weight: lighter;
    font-size: 25px;
}
.fourth-screen__layout-container-block-box {
    display: block;
}
.layout-container-block-box__price {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
}
.layout-container-block-box__usd {
    font-size: 35px;
    vertical-align: top;
    margin-bottom: 0;
}
.fourth-screen__layout-container-block-propperty {
    margin-top: -10px;
}
.fourth-screen__layout-container-block-list {
    list-style-type: none;
    padding: 15px 0 20px 0;
    margin: 0;
}
.fourth-screen__layout-container-block-list-item {
    padding: 10px;
    border-top: 1px solid #bad0e6;
}
.fourth-screen__layout-container-block-button {
    border-style: none;
    border-radius: 2px;
    color: #fafafa;
    background: #fa9a00;
    margin: 0 auto 25px auto;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 14px;
    outline: none;
    cursor: pointer;
}
.fourth-screen__layout-container-block-button:hover {
    background: #ffbb42;
}
.fourth-screen__layout-container-block-button:active {
    transform: scale(0.97, 0.97);
}
.fourth-screen__layout-container-block--basic {
    border: 1px solid #bad0e6;
    border-radius: 3px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #fafafa;
    color: #394b50;
    text-transform: uppercase;
    padding: 0 30px;
    margin: 20px 0;
}
.fourth-screen__layout-container-block--basic-title {
    font-weight: lighter;
    font-size: 25px;
}
.fourth-screen__layout-container-block--basic-box {
    display: block;
    color: #fa9a00;
}
.basic-box__price {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
}
.basic-box__usd {
    font-size: 35px;
    vertical-align: top;
    margin-bottom: 0;
}
.fourth-screen__layout-container-block--basic-propperty {
    margin-top: -10px;
}
.fourth-screen__layout-container-block--basic-list {
    list-style-type: none;
    padding: 15px 0 20px 0;
    margin: 0;
}
.fourth-screen__layout-container-block--basic-list-item {
    padding: 10px;
    border-top: 1px solid #bad0e6;
}
.fourth-screen__layout-container-block--basic-button {
    border-style: none;
    border-radius: 2px;
    color: #fafafa;
    background: #fa9a00;
    margin: 0 auto 25px auto;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 14px;
    outline: none;
    cursor: pointer;
}
.fourth-screen__layout-container-block--basic-button:hover {
    background: #ffbb42;
}
.fourth-screen__layout-container-block--basic-button:active {
    transform: scale(0.97, 0.97);
}
/*fifth-screen*/
.fifth-screen__layout {
    display: flex;
    flex-direction: column;
    font-family: "Lato";
    padding-bottom: 80px;
}
.fifth-screen__layout-description {
    text-align: center;
    padding-bottom: 60px;
}
.fifth-screen__layout-description-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #394b50;
}
.fifth-screen__layout-description-text {
    color: #394b50;
}
.fifth-screen__layout-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 70px;
    position: relative;
}
.fifth-screen__layout-button {
    border-style: none;
    border-radius: 2px;
    color: #fafafa;
    background: #fa9a00;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    outline: none;
    cursor: pointer;
}
.fifth-screen__layout-button:hover {
    background: #ffbb42;
}
.fifth-screen__layout-button:active {
    transform: scale(0.97, 0.97);
}
.fifth-screen__layout-container-block {
    text-align: center;
    padding: 0 45px;
}
.fifth-screen__layout-container-block i {
    font-size: 72px;
    color: #709dca;
    padding-bottom: 50px;
}
.fifth-screen__layout-container-lineLeft {
    position: absolute;
    z-index: 200;
    top: -20px;
    left: 215px;
}
.layout-container-lineLeft__leftArrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #709dca;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(-145deg);
    position: absolute;
    top: 35px;
    left: 15px;
}
.fifth-screen__layout-container-lineLeft hr {
    border: 2px dotted #709dca;
    display: inline-block;
    width: 120px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.layout-container-lineLeft__rightArrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #709dca;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(145deg);
    position: absolute;
    top: 35px;
    right: 15px;
}
.fifth-screen__layout-container-lineRight {
    position: absolute;
    z-index: 200;
    top: -20px;
    right: 215px;
}
.layout-container-lineRight__leftArrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #709dca;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(-145deg);
    position: absolute;
    top: 35px;
    left: 15px;
}
.fifth-screen__layout-container-lineRight hr {
    border: 2px dotted #709dca;
    display: inline-block;
    width: 120px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.layout-container-lineRight__rightArrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #709dca;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(145deg);
    position: absolute;
    top: 35px;
    right: 15px;
}
.fifth-screen__layout-container-lineCenter {
    position: absolute;
    z-index: 200;
    bottom: 190px;
    right: 43%;
}
.layout-container-lineCenter__leftArrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #709dca;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 35px;
    left: 15px;
}
.fifth-screen__layout-container-lineCenter hr {
    border: 2px dotted #709dca;
    display: inline-block;
    width: 120px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}
.layout-container-lineCenter__rightArrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #709dca;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(45deg);
    position: absolute;
    bottom: 35px;
    right: 15px;
}
.fifth-screen__layout-container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #394b50;
}
.fifth-screen__layout-container-text {
    color: #394b50;
    font-size: 13px;
}
/*sixth-screen*/
.sixth-screen {
    padding-bottom: 40px;
}
.sixth-screen__layout {
    background: #ffbb42;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}
.sixth-screen__layout-description {
    text-align: center;
    color: #fafafa;
    font-family: "Lato";
}
.sixth-screen__layout-description-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.sixth-screen__layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 10px;
}
.sixth-screen__layout-container-block {
    background: #fafafa;
    margin: 15px 25px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}
.sixth-screen__layout-container-block:nth-child(2n) {
    margin-right: 0;
}
.sixth-screen__layout-container-block-photo {
    width: 150px;
    padding: 10px 25px 10px 10px;
}
.sixth-screen__layout-container-block-photo-image {
    width: 100%;
    height: auto;
}
.sixth-screen__layout-container-block-description {
    width: 100%;
    color: #394b50;
    font-family: "Lato";
    padding:0 40px 30px 0;
}
.sixth-screen__layout-container-block-description-text {
    line-height: 1.5;
}
.sixth-screen__layout-container-block-description-name {
    padding-top: 20px;
}
.sixth-screen__layout-container-block-description-name {
    text-transform: uppercase;
}
.sixth-screen__layout-container-block-description-name-person {
    color: #ffbb42;
}
.sixth-screen__layout-container-block-description-name-profession {
    color: #bbbbbb;
}
/*seventh-screen*/
.seventh-screen {
    padding: 40px;
}
.seventh-screen__layout {
    padding-bottom: 60px;
    border-bottom: 1px solid #e7edf3;
}
.seventh-screen__layout-feedback {
    display: flex;
    flex-direction: column;
    color: #394b50;
    font-family: "Lato";
    padding-bottom: 40px;
}
.seventh-screen__layout-feedback-title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.seventh-screen__layout-feedback-text {
    margin: 0 auto;
    padding-bottom: 30px;
}
.seventh-screen__layout-feedback-bar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.seventh-screen__layout-feedback-bar-item {
    position: relative;
    width: 30%;
}
.seventh-screen__layout-feedback-bar-button {
    width: 25%;
    outline: none;
    background: #ffbb42;
    text-transform: uppercase;
    color: #fafafa;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.seventh-screen__layout-feedback-bar-button:hover {
    background: #ffa70f;
}
.seventh-screen__layout-feedback-bar-button:active {
    transform: scale(0.99, 0.99);
}
.seventh-screen__layout-feedback-bar-item input {
    width: 100%;
    padding-left: 35px;
    height: 35px;
    font-size: 15px;
    border: 1px solid #bbbbbb;
    outline: none;
    border-radius: 2px;
}
.seventh-screen__layout-feedback-bar-item-icon {
    position: absolute;
    top: 10px;
    left: 13px;
}
.seventh-screen__layout-feedback-bar-item-icon i {
    font-size: 18px;
    color: #394b50;
}
.seventh-screen__layout-address {
    background-image: url(./assets/map.png);
    display: flex;
    flex-direction: column;
    padding: 50px 0 70px 0;
}
.seventh-screen__layout-address-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    color: #fafafa;
    font-family: "Lato";
    border: 1px solid #394b50;
    background: #394b50;
    border-radius: 100%;
    padding: 10px 45px 40px;;
    font-size: 14px;
    position: relative;
}
.seventh-screen__layout-address-list-title {
    text-transform: uppercase;
    font-size: 20px;
}
.seventh-screen__layout-adress-logo {
    margin: 0 auto;
    padding-top: 20px;
}
.seventh-screen__layout-address-list-email {
    color: #ffa70f;
}
.seventh-screen__layout-address-list-decoration {
    width: 0;
    height: 0;
    border-bottom: 15px solid #394b50;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    transform: rotate(-180deg);
    position: absolute;
    bottom: -15px;
    left: 47%;

}
/*footer*/
.footer__layout {
    display: flex;
    flex-direction: column;
    color: #394b50;
    font-family: "Lato";
    padding-bottom: 50px;
}
.footer__layout-navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.footer__layout-navigation-item {
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 20px;
}
.footer__layout-navigation-item a {
    text-decoration: none;
    color: #394b50;
}
.footer__layout-navigation-item:hover {
    background: #ffbb42;;
    border-radius: 2px;
    color: #fafafa;
    cursor: pointer;
}
.footer__layout-phone {
    margin: 0 auto;
    font-size: 25px;
    padding-bottom: 25px;
}
.footer__layout-link {
    font-size: 20px;
    margin: 0 auto;
}
.footer__layout-link a{
    text-decoration: none;
}
.footer__layout-link i {
    color: #709dca;
    padding: 0 10px;
}
.footer__layout-link i:hover {
    color: #ffbb42;
}
.footer__layout-link i:active {
    transform: scale(0.95, 0.95);
}
/*Slider*/
.slider {
    width: 450px;
    height: 265px;
    position: relative;
    background: #ffffff;
    bottom: 265px;
    left: 375px;
}
.slider__line {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    /*transition: all ease 1s;
    overflow: hidden;*/
}
.slider__line-image {
    width: 100%;
    height: 100%;
    margin: 0;
}
.next-slide {
    position: absolute;
}